.footer {
    position: fixed;
    bottom: 0;
    height: auto;
    padding-top: 15px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.mat-toolbar.mat-primary {
    background-color: #c2185b;
}