<mat-toolbar color="primary" class='footer'>
    <div class='row' style="width: 100%;">
        <div class='col-10'>
            <div class='d-flex justify-content-start"'>
                <p>Material complementario:</p>
                <ul>
                    <li><a href='https://rxjs.dev' target="_blank">RxJS official site</a></li>
                    <li><a href='https://angular.io/guide/rx-library' target="_blank">Angular RxJS library</a></li>
                    <li><a href='https://github.com/ReactiveX/rxjs' target="_blank">Github RxJS library</a></li>
                    <li><a href='https://www.npmjs.com/package/rxjs' target="_blank">NPM guide RxJS reactive programming</a></li>
                </ul>
            </div>
        </div>
        <div class='col-2 d-flex justify-content-end align-content-end' style='align-self: self-end; padding-bottom: 15px;'>
            <a href='https://www.linkedin.com/in/agustin-pulido/' target="_blank" style="font-size: 16px;">Autor: Agustin Pulido</a>
        </div>
    </div>
</mat-toolbar>