<mat-toolbar color="primary" class='footer'>
    <div class='row'>
        <div class='col-6'>
            <p>Material complementario:</p>
        </div>
        <ul class='col-6'>
            <li><a href='https://rxjs.dev'>RxJS official site</a></li>
            <li><a href='https://angular.io/guide/rx-library'>Angular RxJS library</a></li>
            <li><a href='https://github.com/ReactiveX/rxjs'>Github RxJS library</a></li>
            <li><a href='https://www.npmjs.com/package/rxjs'>NPM guide RxJS reactive programming</a></li>
        </ul>
    </div>
</mat-toolbar>