<div style="margin-top: 25px; margin-left: 50px; margin-right: 50px; overflow: auto;">
    <button *ngIf='!isLoading && repositories.length == 0' (click)='GithubCall()' class='button btn btn-primary'>Github Api</button>
    <table *ngIf='repositories.length > 0' class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th [width]='350'>Url para clonar</th>
                <th>Visibilidad</th>
                <th>Indice</th>
            </tr>
        </thead>
        <tbody style="overflow: auto">
            <tr *ngFor='let repo of repositories; let i = index'>
                <td>
                    {{repo.created_at | relativeDate}}
                </td>
                <td>
                    {{repo.name}}
                </td>
                <td>
                    {{repo.description}}
                </td>
                <td>
                    {{repo.clone_url}}
                </td>
                <td>
                    {{repo.visibility}}
                </td>
                <td>
                    {{i}}
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf='isLoading' style="text-align: -webkit-center;">
        <mat-spinner [color]="'accent'"></mat-spinner>
    </div>
</div>