<div style="margin-top: 25px; margin-left: 50px; margin-right: 50px;">
    <table *ngIf='indicators' class="table table-hover table-striped table-dark">
        <thead>
            <tr>
                <th>Indicadores</th>
                <th>Anterior</th>
                <th>Actual</th>
                <th [width]='350'>Nuevo valor</th>
                <th>Informar</th>
                <th>Indice</th>
            </tr>
        </thead>
        <tbody style="overflow: auto">
            <tr *ngFor='let indicador of indicators; let i = index'>
                <td>
                    {{indicador.name}}
                </td>
                <td>
                    {{indicador.penultimate}}
                </td>
                <td>
                    {{indicador.ultimate}}
                </td>
                <td>
                    <input [(ngModel)]="values[i]" type="number" style="width: 200px; " aria-describedby="newValue " required>
                </td>
                <td>
                    <button (click)='update(i, values[i])' class="button">Enviar</button>
                </td>
                <td>
                    {{i}}
                </td>
            </tr>
        </tbody>
    </table>
</div>